<%- include('../partials/_head.ejs'); %>
  <%- include('./partials/dashboard.navbar.ejs'); %>

    <!-- Add Employee Modal -->
    <div class="modal fade" id="addEmployeeModal" tabindex="-1" aria-labelledby="addEmployeeModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <form id="addEmployeeForm" method="POST">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="addEmployeeModalLabel">Add Employee</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h6>Personal Information</h6>
              <div class="row g-2  mb-2">
                <div class="col-md">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="" value="">
                    <label for="floatingInputGrid">First Name</label>
                  </div>
                </div>
                <div class="col-md">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="" value="">
                    <label for="lastName">Last Name</label>
                  </div>
                </div>
                <div class="col-md">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="middleName" name="middleName" placeholder="" value="">
                    <label for="middleName">Middle Name</label>
                  </div>
                </div>
              </div>

              <div class="row g-2 mb-4">
                <div class="col-md">
                  <div class="form-floating">
                    <input type="date" class="form-control" id="birthdate" name="birthdate" placeholder="" value="">
                    <label for="birthdate">Birthdate</label>
                  </div>
                </div>

              </div>

              <div class="form-floating mb-2">
                <input type="text" class="form-control" id="address" name="address" placeholder="" value="">
                <label for="address">Address</label>
              </div>

              <div class="row g-2 mb-4">
                <div class="col">
                  <div class="form-floating">
                    <input type="email" class="form-control" id="email" name="email" placeholder="" value="">
                    <label for="email">Email</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="phoneNo" name="phoneNo" placeholder="" value="">
                    <label for="phoneNo">Phone No. (Ex. 9123..)</label>
                  </div>
                </div>
              </div>

              <h6>Employment Information</h6>
              <div class="row g-2 mb-4">
                <div class="col">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="employeeID" name="employeeID" placeholder="" value="">
                    <label for="employeeID">Employee ID</label>
                  </div>
                </div>
                <div class="col">
       
                </div>

                <div class="row g-2 mb-2">
                  <div class="col">
                    <div class="form-floating">
                      <input type="date" class="form-control" id="dateOfHire" name="dateOfHire" placeholder="" value="">
                      <label for="dateOfHire">Date of Hire</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-floating">
                      <div class="form-floating">
                        <select class="form-select" id="employmentStatus" name="employmentStatus"
                          aria-label="Select Employment Status">
                          <option value="Full Time">Full Time</option>
                          <option value="Part Time">Part Time</option>
                          <option value="Contractor">Contractor</option>
                          <option value="Intern">Intern</option>
                        </select>
                        <label for="employmentStatus">Employment Status</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <h6>Emergency Contact Information</h6>
              <div class="row g-2 mb-2">
                <div class="col">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="emcon_fullname" name="emcon_fullname" placeholder=""
                      value="">
                    <label for="emcon_fullname">Full Name</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="emcon_relationship" name="emcon_relationship"
                      placeholder="" value="">
                    <label for="emcon_relationship">Relationship</label>
                  </div>

                </div>
              </div>
              <div class="form-floating mb-4">
                <input type="text" class="form-control" id="emcon_address" name="emcon_address" placeholder="" value="">
                <label for="emcon_address">Address</label>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-success">Add Employee</button>
            </div>
          </form>
        </div>
      </div>
    </div>

        <!-- Delete Confirm Modal -->
        <div class="modal fade" id="deleteConfirmModal" tabindex="-1" aria-labelledby="deleteConfirmModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteConfirmModalLabel">Please confirm</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Are you sure you want to delete this data?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success">Delete data</button>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-sm-3 mb-3 mb-sm-0">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Table #12</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>

        <div class="employees mt-5">
          <div class="container-fluid">
            <div class="card text-bg-light mb-3">
              <div class="card-header">
                <div class="row d-flex justify-content-between align-items-center">
                  <div class="col">List of Employees</div>
                  <div class="col-auto">
                    <button type="button" class="btn btn-success btn-rounded btn-lg" data-mdb-ripple-init
                      data-bs-toggle="modal" data-bs-target="#addEmployeeModal">Add Employee</button>
                  </div>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table" id="table">
                      <thead>
                        <tr>
                          <th scope="col">Date</th>
                          <th scope="col">Time</th>
                          <th scope="col">Name</th>
                          <th scope="col">Table</th>
                          <th scope="col">Pax</th>
                        </tr>
                      </thead>
                      <tbody>
                    
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>




        <%- include('../partials/_body.ejs'); %>