<%- include('../partials/_head.ejs'); %>
  <%- include('./partials/dashboard.navbar.ejs'); %>

    <!-- Add Employee Modal -->
    <div class="modal fade" id="addReservationModal" tabindex="-1" aria-labelledby="addReservationModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <form id="dashboardReservationForm" method="POST">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="addReservationModalLabel">Add Reservation</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="form-floating mb-4">
                <select class="form-select" id="status" name="status" aria-label="Reservation Status">
                  <option value="confirm" selected>Confirmed</option>
                  <option value="cancelled">Cancelled</option>
                  <option value="completed">Completed</option>
                  <option value="seated">Seated</option>
                  <option value="no-show">No-show</option>
                  <option value="On-hold">On-hold</option>
                </select>
                <label for="status">Reservation Status</label>
 
              </div>

              <h6>Customer Information</h6>
              <div class="row g-2 mb-4">
                <div class="col-md">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="name" name="name" placeholder="" value="" required>
                    <label for="name">Customer Name</label>
                  </div>
                </div>
                <div class="col-md">
                  <div class="form-floating">
                    <input type="email" class="form-control" id="email" name="email" placeholder="" value="">
                    <label for="email">Email</label>
                  </div>
                </div>
                <div class="col-md">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="phoneNo" name="phoneNo" placeholder="" value="">
                    <label for="phoneNo">Phone No. (Ex. 9123..)</label>
                  </div>
                </div>
              </div>

              <h6>Reservation Information</h6>
              <div class="row g-2 mb-4">

                <div class="col-md-6">
                  <div class="form-floating">
                    <select class="form-select" id="tableNo" name="table" aria-label="Table No.">
                      <option selected>Select table</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                    </select>
                    <label for="tableNo">Table #</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-floating">
                    <input type="number" class="form-control" id="pax" name="pax" placeholder="" value="" required>
                    <label for="pax">Pax</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-floating">
                    <input type="date" class="form-control" id="date" name="date" placeholder="" value="" required>
                    <label for="date">Date</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating">
                    <input type="time" class="form-control" id="time" name="time" placeholder="" value="" required>
                    <label for="time">Time</label>
                  </div>
                </div>

                <div class="col-12">
                  <div class="form-floating">
                    <textarea class="form-control" id="requests" name="requests" placeholder="" value=""
                      required></textarea>
                    <label for="requests">Message/Reqest</label>
                  </div>
                </div>
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-success" id="submitBtn">Add Reservation</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Delete Confirm Modal -->
    <div class="modal fade" id="deleteConfirmModal" tabindex="-1" aria-labelledby="deleteConfirmModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="deleteConfirmModalLabel">Please confirm</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete this data?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success">Delete data</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">

              <h5 class="card-title">Table 12</h5></h5>

              <small class="text-body-secondary">

                <!-- Edit Role Button -->
                <button type="button" class="btn btn-info btn-floating globalTableBtn editRoleButton"
                  data-bs-toggle="modal" data-bs-target="#editRoleModal" data-mdb-ripple-init>
                  <i class="bi bi-pencil-square fs-6"></i>
                </button>


                <button type="button" class="btn btn-danger btn-floating globalTableBtn editRoleButton"
                  data-bs-toggle="modal" data-bs-target="#deleteRoleConfirmationModal" data-mdb-ripple-init>
                  <i class="bi bi-trash fs-6"></i>
                </button></small>
            </div>
    
            <div class="row">
              <div class="col-6">
                <span class="time me-2"><i class="bi bi-clock"></i> 4:30</span>
                <span class="pax"><i class="bi bi-people-fill"></i> 4</span>
              </div>
              <span class="pax">Pending</span>
            </div>
            <span class="customerName">Kirsten</span>
            <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div> 
    </div>

    <div class="employees mt-5">
      <div class="container-fluid">
        <div class="card text-bg-light mb-3">
          <div class="card-header">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col">List of Reservations</div>
              <div class="col-auto">
                <button type="button" class="btn btn-success btn-rounded btn-lg" data-mdb-ripple-init
                  data-bs-toggle="modal" data-bs-target="#addReservationModal">Add Reservation</button>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table" id="table">
                  <thead>
                    <tr>
                      <th scope="col">Date</th>
                      <th scope="col">Time</th>
                      <th scope="col">Name</th>
                      <th scope="col">Table</th>
                      <th scope="col">Pax</th>
                    </tr>
                  </thead>
                  <tbody>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <script>
      document.addEventListener("DOMContentLoaded", async function () {
        
        const reservationForm = document.getElementById('dashboardReservationForm');
        const submitBtn = document.getElementById('submitBtn');

        reservationForm.addEventListener('submit', async (e) => {
          e.preventDefault();

          // Disable the submit button
          submitBtn.disabled = true;

          // Add loader HTML to the button
          submitBtn.innerHTML = `<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>Adding reservation...`;

          const formData = new FormData(reservationForm);
          const jsonObject = {};

          // Convert FormData to JSON
          formData.forEach((value, key) => {
            jsonObject[key] = value;
          });

          try {
            const response = await axios.post('/dashboard/restaurant/reservations/createReservation', jsonObject);

            const responseData = response.data;

            if (responseData.type === 'success') {
              console.log(responseData);
              const title = 'Reservation Added';
              const message = `<p>Reservation added successfully.</p>`;
              showModal(title, message);
              $('#addReservationModal').modal('hide'); // Close the modal
            } else {
              ialert('danger', responseData.message);
            }


          } catch (error) {
            ialert('danger', error.response.data.message);
          } finally {
            // Enable the submit button and restore its original content
            submitBtn.disabled = false;
            submitBtn.innerHTML = 'Submit reservation';
          }
        });
      });

    </script>



    <%- include('../partials/_body.ejs'); %>