<%- include('../partials/_head.ejs'); %>
    <%- include('./partials/dashboard.navbar.ejs'); %>

        <div class="settings">
            <div class="container-fluid">
                <form method="POST" id="settingsForm">
                    <div class="row">
                        <div class="col-md-8">
                            <h5 class="mt-5">Schedule</h5>
                            <div class="row">
                                <p>Open from</p>
                                <div class="col">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" aria-label="Default select example" id="openFrom"
                                            name="openFrom">
                                            <option value="Monday">Monday</option>
                                            <option value="Tuesday">Tuesday</option>
                                            <option value="Wednesday">Wednesday</option>
                                            <option value="Thursday">Thursday</option>
                                            <option value="Friday">Friday</option>
                                            <option value="Saturday">Saturday</option>
                                            <option value="Sunday">Sunday</option>
                                        </select>
                                        <label for="openFrom">Select a day</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-floating mb-3">
                                        <input type="time" class="form-control" id="openTime" placeholder=""
                                            name="openTime">
                                        <label for="openTime">Enter time</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <p>To</p>
                                <div class="col">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" aria-label="Default select example" id="openUntil"
                                            name="openUntil">
                                            <option value="Monday">Monday</option>
                                            <option value="Tuesday">Tuesday</option>
                                            <option value="Wednesday">Wednesday</option>
                                            <option value="Thursday">Thursday</option>
                                            <option value="Friday">Friday</option>
                                            <option value="Saturday">Saturday</option>
                                            <option value="Sunday">Sunday</option>
                                        </select>
                                        <label for="openUntil">Select a day</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-floating mb-3">
                                        <input type="time" class="form-control" id="closeTime" placeholder=""
                                            name="closeTime">
                                        <label for="closeTime">Enter time</label>
                                    </div>
                                </div>
                            </div>

                            <h5 class="mt-5">Information</h5>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="resto_address" placeholder=""
                                    name="resto_address">
                                <label for="resto_address">Location / Address</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="tel" class="form-control" id="resto_tel" placeholder="" name="resto_tel">
                                <label for="resto_tel">Phone No.</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="resto_email" placeholder=""
                                    name="resto_email">
                                <label for="resto_email">Email</label>
                            </div>

                            <div class="d-grid gap-2 my-4">
                                <button class="btn btn-success btn-lg" type="submit">Save changes</button>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" role="switch"
                                    id="disable_accountCreation" checked name="disable_accountCreation">
                                <label class="form-check-label" for="disable_accountCreation">
                                    <div class="ms-2 me-auto">
                                        <div class="fw-bold">Disable Account Creation</div>
                                        <small>This option will prevent users from creating new accounts.</small>
                                    </div>
                                </label>
                            </div>

                            <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" role="switch"
                                    id="disable_tableReservations" checked name="disable_tableReservations">
                                <label class="form-check-label" for="disable_tableReservations">
                                    <div class="ms-2 me-auto">
                                        <div class="fw-bold">Disable Table Reservations</div>
                                        <small>This option will prevent users from reserving tables.</small>
                                    </div>
                                </label>
                            </div>

                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch"
                                    id="flexSwitchCheckChecked" checked>
                                <label class="form-check-label" for="flexSwitchCheckChecked">
                                    <div class="ms-2 me-auto">
                                        <div class="fw-bold">Subheading</div>
                                        <small>This option will disallow all users to create new accounts.</small>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <%- include('../partials/_body.ejs'); %>