.toast-header {
    border-bottom: none; /* Remove border */
}


.toast.slide {
    animation: slideIn 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.toast.slide-out {
    animation: slideOut 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

@keyframes slideOut {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

