<!-- MDB -->
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.2.0/mdb.umd.min.js"
></script>

<script src="/js/modal.js"></script>
<script src="/js/toast.js"></script>
<script src="/js/alert.js"></script>
<script src="/js/homepage.js"></script>
<script src="/js/roles.js"></script>
<script src="/js/settings.js"></script>
<script src="/js/employee.js"></script>
<script src="/js/home.reservation.js"></script>
<script src="/js/dashboard.items.js"></script>
<script>
  $(document).ready( function () {
    $('#table').DataTable();
} );
</script>

</body>

</html>