<!-- Image and text -->
<nav class="navbar navbar-expand-lg shadow-0" style="background-color: #046A38;">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img
        src="https://res.cloudinary.com/dbibml6gk/image/upload/v1707742350/TFC%20Assets/thefoodcartelsf-logo.jpg"
        class="me-2"
        height="45"
        alt="MDB Logo"
        loading="lazy"
      />
    </a>

    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link  text-light active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  text-light" href="#">Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  text-light" href="#">Menu</a>
        </li>
      </ul>

    </div>
  </div>
  </div>
</nav>